<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div class="form-group">
        <label>Enter your First Name</label>
        <br/>
        <input type="text" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
        <label>Enter your Last Name</label>
        <br/>
        <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
        <label>Enter your Email</label>
        <br/>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <button type="submit" class="btn btn-success">Register</button>
</form>
